<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mosaic Cat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="header">
    <p>MOSAIC CAT</p>
</div>

<div class="uploadContainer">
    <div class="text">
        <p>Simple convert</p>
        <p>to face mosaic</p>
        <p>Upload your Video!</p>
    </div>
    <div class="uploadSection">
        <img id="lyingCat" src="{{ url_for('static', filename='images/lying_cat.png') }}" alt="cat">
        <div class="uploadButton">
            <p>Upload Video</p>
        </div>
        <input type="file" id="fileInput" name="file" accept="video/*" style="display: none;">
        <div class="uploadCaution">
            <p>Be careful with file sizes</p>
            <p>You can only upload files</p>
            <p>that are <strong>100MB</strong> or less</p>
        </div>
    </div>
</div>
<div class="videoContainer">
    <div class="sampleContainer">
        <div class="sample-video-wrapper">
            <video id="videoPreviewer" autoplay controls></video>
        </div>
        <div class="downloadSection" id="downloadSection" style="display: none;">
            <div class="processing">
                <img class="processingCat" id="processingCat" src="{{ url_for('static', filename='images/surprised_cat.png') }}" alt="processingcat">
                <p id="processingText">processing 0%</p>
            </div>
            <button id="downloadButton" class="downloadButton" style="display: none;">Download</button>
        </div>
    </div>
    <div class="outputContainer">
        <div class="output-video-wrapper">
            <video id="outputVideo" autoplay controls>
                <source src="../static/uploads/output.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
